.detail{
    display: flex;
    overflow: auto;
    background-color: grey
}

.detailCont{
    display: flex;
    flex-direction: column;
    margin-left: 2em;

}

.imgDetail{
    float: right;
    border-radius: 5em;
    margin-right: 1em;
    margin-left:20em ;
    height: 50%;
    width: 50%;
    padding: 2em;
   
}



