.contenedor {
    display: grid;
  grid-template-columns: 1fr;
    border: solid;
    border-radius: 2em;
    margin: 0.1em;
    background-color: #c5ecc97e;
    height: 22em;
    transition: 0.2s;
    text-decoration: none;
    padding: .5em;
  }
  
  .contenedor:hover {
    padding: 1em;
  }
  
  .link {
    text-decoration: none;
    margin: 0.1em;
    color: black;
  }
  
  .img {
    border: 15px;
    border-color: lightgreen;
    border-style: groove;
    border-radius: 50%;
    height: 11em;
    transition: transform 0.5s;
  }
  
  .img:hover {
    transform: rotate(360deg);
  }
  


.onClose{
    
    border-radius: 2em;
    background-color: none;
    transition: .2s;
}

.onClose:hover{
    background-color: rgb(236, 102, 102);
    padding: .4em;
    
}

.addFav{
    display:block;
    align-content: center;
    align-items: center;
    align-self: center;
    background-color: transparent;
    border: none;
}

.addFav:hover{
    cursor:pointer ;
}



