

.contenedor{
 
    border: solid;
    border-radius: 2em;
    margin: .1em;
    background-color: #c5ecc97e;
    height: 20em;
    transition: .2s;
    text-decoration: none;
   

}

.contenedor:hover{
    padding: .6em;
}

.link{
    text-decoration: none;
    margin: .1em;
    color: black;
}


.img{
    border:15px;
    border-color: lightgreen;
    border-style:groove;
    border-radius: 50%;
    height: 11em;
 
    
}



.onClose{
    
    border-radius: 2em;
    background-color: none;
    transition: .2s;
}

.onClose:hover{
    background-color: rgb(236, 102, 102);
    padding: .4em;
    
}



