.body{
    background-image: url("./images/formBack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 67vh;
    width: 100%;
    
    
}

.contain{
   position: fixed;
  top: .01em;
  left: 15em;
  height: 18em;
}

.img{
    background-image: url("./images/prueba1.jpg");
    background-size: cover;
    background-position: center;
    height: 19.8em;
    width: 20em;
    border-radius: 40%;
}

.form{
   padding: .5em;
    display: flex;
    border: solid;
    border-radius: 1em;
    background-color: grey;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    position: sticky;
    left: 36%;
    margin-top: 18em;
    
}


.errors{
    justify-content: center;
    text-align: center;
    color: rgba(162, 20, 20, 0.882)
}


input{
    padding: .5em;
    border-radius: 1em;
}

.formButton {
    padding: .5em;
    border-radius: 1em;
    transition: .2s;
}

.formButton:hover{
    padding: .8em;
    background-color: rgb(86, 238, 86);
}

