
.container{
    background-image: url("../Cards//prueba2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

.menu{
    color: white;
   text-align: center;
    background-color: grey;
    margin: none;
    padding: .1em;
}

.card{
    display: flex;
    width: 20%;
    height:.5rem;
    border-radius: 3
}