

.input{
   
    border-radius: 2em ;
    padding: 1em;
}

.button {
    border-radius: 2em;
    padding: 1em;
    transition: .3s;   
}

.button:hover{
    background-color: lightblue;
   
}